html, body { height: 100%; }
body { margin: 0; font-family: Montserrat, serif; }

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s,
  background-color 0.5s;

  h1 {
    font: 3rem/4rem 'Bebas Neue', Helvetica Neue, sans-serif !important;
    margin: 0;
  }

  h2 {
    font: 2rem/3rem 'Montserrat', Helvetica Neue, sans-serif !important;
    margin: 0;
  }

  h3 {
    font: 1.5rem/2.5rem 'Montserrat', Helvetica Neue, sans-serif !important;
    margin: 0;
  }

  h4 {
    font: 600 1rem/2rem 'Montserrat', Helvetica Neue, sans-serif !important;
    margin: 0;
  }

  p {
    font: 400 1rem/2rem 'Montserrat', Helvetica Neue, sans-serif;
    margin: 0;
  }
}
