@import 'base';
@import "mixins";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #2c3e50;
}

header {
  height: 70px;
  background-color: brown;
}

footer {
  height: 100px;
  background-color: blueviolet;
  position: fixed;
  width: 100%;
  bottom: 0;
}

main {
  height: calc(100vh - 170px);
  background-color: darkslategrey;
  overflow-y: auto;
  overflow-x: hidden;
}

//header {
//  padding: 40px;
//}

//#app {
//  max-width: 1280px;
//  margin: 0 auto;
//  padding: 2rem;
//  font-weight: normal;
//}
//
//a,
//.green {
//  text-decoration: none;
//  color: hsla(160, 100%, 37%, 1);
//  transition: 0.4s;
//  padding: 3px;
//}
//
//@media (hover: hover) {
//  a:hover {
//    background-color: hsla(160, 100%, 37%, 0.2);
//  }
//}
//
//@media (min-width: 1024px) {
//  body {
//    display: flex;
//    place-items: center;
//  }
//
//  #app {
//    display: grid;
//    grid-template-columns: 1fr 1fr;
//    padding: 0 2rem;
//  }
//}
//
//header {
//  line-height: 1.5;
//}
//
//.logo {
//  display: block;
//  margin: 0 auto 2rem;
//}
//
//@media (min-width: 1024px) {
//  header {
//    display: flex;
//    place-items: center;
//    padding-right: calc(var(--section-gap) / 2);
//  }
//
//  .logo {
//    margin: 0 2rem 0 0;
//  }
//
//  header .wrapper {
//    display: flex;
//    place-items: flex-start;
//    flex-wrap: wrap;
//  }
//}
//
//h1 {
//  font-weight: 500;
//  font-size: 2.6rem;
//  position: relative;
//  top: -10px;
//}
//
//h3 {
//  font-size: 1.2rem;
//}
//
//.greetings h1,
//.greetings h3 {
//  text-align: center;
//}
//
//@media (min-width: 1024px) {
//  .greetings h1,
//  .greetings h3 {
//    text-align: left;
//  }
//}
//
//.item {
//  margin-top: 2rem;
//  display: flex;
//  position: relative;
//}
//
//.details {
//  flex: 1;
//  margin-left: 1rem;
//}
//
//i {
//  display: flex;
//  place-items: center;
//  place-content: center;
//  width: 32px;
//  height: 32px;
//
//  color: var(--color-text);
//}
//
//h3 {
//  font-size: 1.2rem;
//  font-weight: 500;
//  margin-bottom: 0.4rem;
//  color: var(--color-heading);
//}
//
//@media (min-width: 1024px) {
//  .item {
//    margin-top: 0;
//    padding: 0.4rem 0 1rem calc(var(--section-gap) / 2);
//  }
//
//  i {
//    top: calc(50% - 25px);
//    left: -26px;
//    position: absolute;
//    border: 1px solid var(--color-border);
//    background: var(--color-background);
//    border-radius: 8px;
//    width: 50px;
//    height: 50px;
//  }
//
//  .item:before {
//    content: ' ';
//    border-left: 1px solid var(--color-border);
//    position: absolute;
//    left: 0;
//    bottom: calc(50% + 25px);
//    height: calc(50% - 25px);
//  }
//
//  .item:after {
//    content: ' ';
//    border-left: 1px solid var(--color-border);
//    position: absolute;
//    left: 0;
//    top: calc(50% + 25px);
//    height: calc(50% - 25px);
//  }
//
//  .item:first-of-type:before {
//    display: none;
//  }
//
//  .item:last-of-type:after {
//    display: none;
//  }
//}
